{% extends 'core/base/base.html' %}
{% block banner_title %}
	<h1>Blog</h1>
{% endblock %}

{% block content %}
<!-- header -->
<div class="blog">
	<div class="container">
		<div class="blog-left">
			<div class="blog-left-head">
				<span> </span>
				<h3>Recent-posts</h3>
			</div>
			<div class="blog-artical-grids row">

				{% for new in news %}

					<div class="blog-artical-grid col-md-4">
						<h3>
							<a href="{{ new.link }}" target="blank">{{ new.title }}</a>
						</h3>
						<div class="clearfix"> </div>
						<div class="blog-artical-grid-pic-info">
							{% if new.imagem %}
								<div class="blog-artical-grid-pic">
									<a href="{{ new.link }}" target="blank">
										<img src="{{ new.imagem.url }}" class="img-responsive"
											 alt="{{ new.title }}" title="{{ new.title }}" />
									</a>
								</div>
							{% else %}
								<div class="blog-artical-grid-pic"></div>
							{% endif %}
							<div class="blog-artical-grid-pic-info-admin">
								<div class="blog-artical-grid-pic-info-admin-left">
									<ul>
										<li>
											<a href="#">
												<img src="{{ new.feed.logo.url }}" title="{{ new.feed.title }}"
													 title="{{ new.feed.title }}">
											</a>
										</li>
										<li>
											<p>Escrito por <a href="#">{{ new.feed.title }}</a></p>
										</li>
									</ul>
								</div>
								<div class="blog-artical-grid-pic-info-admin-right">
									<h6>
										{{ new.created|date:'d' }}/<span>{{ new.created|date:'m' }}</span>
									</h6>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<!-- start-artical-tags
						<div class="artical-tags">
							<ul>
								<li><a href="#">Art</a></li>
								<li><a href="#">WebDesign</a></li>
								<li><a href="#">Logotypes</a></li>
								<div class="clearfix"> </div>
							</ul>
						</div>-->

						<!-- start-artical-destilas -->
							<div class="artical-details">
								<div class="artical-details-left">
								 	{% autoescape off %}
										{{ new.get_content }}
									{% endautoescape %}
								</div>

								<div class="clearfix"> </div>
							</div>
						<!-- //End-artical-destilas -->
						<div class="artical-more-btn">
							<a href="{{ new.link }}" target="blank">
								<span>Leia Mais...</span>
							</a>
						</div>
					</div><!-- //End-blog-artical-grid -->
				{% endfor %}
			</div>
			<div class="clearfix"> </div>

			<div class="blog-artical-pagenate">
				<ul>
					<li class="frist">
				        {% if news.has_previous %}
        					<a href="?page={{ news.previous_page_number }}">
								<span class="fa fa-chevron-left"></span>
        					</a>
    					{% endif %}
					</li>

					{% for page_num in news.paginator.page_range %}
						<li class="{% if page_num == news.number %}active{% endif %}" >
							<a href="?page={{ page_num }}">{{ page_num }}</a>
						</li>
				  	{% endfor %}

					<!--
					<li class="more-art">
						<a href="?page=11">
							<span class="fa fa-angle-double-right"></span>
						</a>
					</li>
					-->

					<li class="last">
						{% if news.has_next %}
        					<a href="?page={{ news.next_page_number }}">
        						<span class="fa fa-chevron-right"></span>
        					</a>
    					{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>


{% endblock %}