<div class="blog-right">
                        <div class="blog-right-head">
                            <span> </span>
                            <h3>CaTEGORIES</h3>
                        </div>
                        <!----start-accordinatio-files--->
                        <script src="{{ STATIC_URL }}core/js/vallenato.js" type="text/javascript" charset="utf-8"></script>
                        <link rel="stylesheet" href="{{ STATIC_URL }}core/css/vallenato.css" type="text/css" media="screen" charset="utf-8">
                        <!----start-accordinatio-files--->
                        <div class="blog-right-accordinations">
                            <h2 class="accordion-header active-header">Webdesign</h2>
                            <div class="accordion-content open-content" style="width: 242px; display: block;">
                                <ul>
                                    <li><a href="#">adipiscing elit.</a></li>
                                    <li><a href="#">consectetur </a></li>
                                    <li><a href="#">Pellentesque </a></li>
                                    <li><a href="#">sollicitudin felis </a></li>
                                </ul>
                            </div>
                            <h2 class="accordion-header inactive-header">Art design</h2>
                            <div class="accordion-content" style="width: 242px;">
                                <ul>
                                    <li><a href="#">adipiscing elit.</a></li>
                                    <li><a href="#">consectetur </a></li>
                                    <li><a href="#">Pellentesque </a></li>
                                    <li><a href="#">sollicitudin felis </a></li>
                                </ul>
                            </div>
                            <h2 class="accordion-header inactive-header">Logotypes</h2>
                            <div class="accordion-content" style="width: 242px;">
                                <ul>
                                    <li><a href="#">adipiscing elit.</a></li>
                                    <li><a href="#">consectetur </a></li>
                                    <li><a href="#">Pellentesque </a></li>
                                    <li><a href="#">sollicitudin felis </a></li>
                                </ul>
                            </div>
                            <h2 class="accordion-header inactive-header">Photography</h2>
                            <div class="accordion-content" style="width: 242px;">
                                <ul>
                                    <li><a href="#">adipiscing elit.</a></li>
                                    <li><a href="#">consectetur </a></li>
                                    <li><a href="#">Pellentesque </a></li>
                                    <li><a href="#">sollicitudin felis </a></li>
                                </ul>
                            </div>
                            <h2 class="accordion-header inactive-header">Videos</h2>
                            <div class="accordion-content" style="width: 242px;">
                                <ul>
                                    <li><a href="#">adipiscing elit.</a></li>
                                    <li><a href="#">consectetur </a></li>
                                    <li><a href="#">Pellentesque </a></li>
                                    <li><a href="#">sollicitudin felis </a></li>
                                </ul>
                            </div>
                            <h2 class="accordion-header inactive-header">Other</h2>
                            <div class="accordion-content" style="width: 242px;">
                                <ul>
                                    <li><a href="#">adipiscing elit.</a></li>
                                    <li><a href="#">consectetur </a></li>
                                    <li><a href="#">Pellentesque </a></li>
                                    <li><a href="#">sollicitudin felis </a></li>
                                </ul>
                            </div>
                        </div>
                        <!----start-tags---->
                        <div class="blog-right-head">
                            <span> </span>
                            <h3>Tag's</h3>
                        </div>
                        <div class="tags-for">
                                    <ul>
                                        <li><a href="#">Art</a></li>
                                        <li><a href="#">WebDesign</a></li>
                                        <li><a href="#">Logotypes</a></li>
                                        <li><a href="#">Photo</a></li>
                                        <li><a href="#">Video</a></li>
                                        <li><a href="#">Other</a></li>
                                        <li><a href="#">WEb</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                        </div>
                        <!----//End-tags---->
                        <!----start-comments---->
                        <div class="blog-comments">
                            <div class="blog-right-head">
                                <span> </span>
                                <h3>Last Comments</h3>
                            </div>
                            <div class="blog-comment-grids">
                                <div class="blog-comment-grid">
                                    <div class="blog-comment-grid-left">
                                        <img src="{{ STATIC_URL }}core/images/admin-pic1.jpg" alt="">
                                    </div>
                                    <div class="blog-comment-grid-right">
                                        <a href="#">Endy Brown</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="blog-comment-grid">
                                    <div class="blog-comment-grid-left">
                                        <img src="{{ STATIC_URL }}core/images/admin-pic2.jpg" alt="">
                                    </div>
                                    <div class="blog-comment-grid-right">
                                        <a href="#">Millana Watson</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="blog-comment-grid">
                                    <div class="blog-comment-grid-left">
                                        <img src="{{ STATIC_URL }}core/images/admin-pic3.jpg" alt="">
                                    </div>
                                    <div class="blog-comment-grid-right">
                                        <a href="#">Andrew Haching</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="blog-comment-grid">
                                    <div class="blog-comment-grid-left">
                                        <img src="{{ STATIC_URL }}core/images/admin-pic4.jpg" alt="">
                                    </div>
                                    <div class="blog-comment-grid-right">
                                        <a href="#">Bruse Loome</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <!----start-Comments---->
                    </div>