

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700,300' rel='stylesheet' type='text/css'>

<link href="{{ STATIC_URL }}css/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" media="all" />