{% extends 'core/base/base.html' %}
{% block banner_title %}
	<h1>Quem Sou Eu</h1>
{% endblock %}

{% block content %}
	<!-- about-section -->
	<div class="about-section">
		<div class="container">
			<div class="col-md-12 about-left1">
				<h3>Meu Currículo</h3>

				<div class="left">
					<div class="curriculo" id="">

						<p><b>CÉSAR AUGUSTO BRUSCHETTA</b></p>
						<p>26 anos - Solteiro <br>
						   Santo André – São Paulo
					   </p>

						<p><span class="underline"><b>FORMAÇÃO</b></span></p>
						<ul>
							<li>2008 – 2009 Técnico em Informática SENAC Santo André</li>
							<li>2010 – 2012 Sistemas Para Internet Universidade de São Caetano do Sul</li>
						</ul>
						<p >&nbsp;</p>

						<p><span class="underline"><b>CURSOS EXTRAS CURRICULARES</b></span></p>
						<ul>
							<li>Curso Avançado de Informática</li>
							<li>SENAI – Curso de Montagem e Manutenção de Computadores</li>
							<li>Curso de Inglês (INTERMEDIÁRIO)</li>
							<li>LPI101 - Administração de Sistemas LINUX – GREEN Treinamento</li>
							<li>LPI102 - Administração de Redes LINUX – GREEN Treinamento</li>
						</ul>
						<p >&nbsp;</p>

						<p><span class="underline"><b>EXPERIÊNCIA PROFISSIONAL</b></span></p>
						<p>
							<b>Liberiun Technologies Sistema da informação</b><br>
							<u>CARGO:</u> Desenvolvedor Junior I<br>
							<u>AREA DE ATUAÇÃO:</u> Desenvolvimento de aplicações para internet em Python, utilizando o CMS Plone e o framework Django.<br>
							<u>PERÍODO:</u> 11/2010 – 02/2015<br>
						</p>
						<p>
							<b>Pingobox Software</b><br>
							<u>CARGO:</u> Desenvolvedor Pleno<br>
							<u>AREA DE ATUAÇÃO:</u> Desenvolvimento de aplicações para internet em Python, utilizando o framework Django.<br>
							<u>PERÍODO:</u> 02/2015 – atual<br>
						</p>
						<p >&nbsp;</p>


						<p ><span class="underline"><b>DESCRIÇÃO DAS ATIVIDADES</b></span></p>

						<p >Tenho experiencia deste novembro de 2010 em desenvolvimento de aplicações web em python primeiramente utilizando frameworks Zope/Plone, com este frameworks realizamos a customização e implantação de novas funcionalidades nas intranet dos cliente da empresa Liberiun.
						 A partir de junho de 2011 venho trabalhando na criação de novas aplicações e manutenção de aplicação utilizando o   frameworks Django. Nesse período participei da criação e atuo ate hoje no desenvolvimento do Software de intranet Vindula;</p>
						<p >Tenho experiencia na implantação de caches dinâmicos nas aplicações, proporcionando melhor desempenho, já trabalhei com Servidores REDIS, MONGODB, MEMCACHED;</p>
						<p >Tenho experiencia em banco de dados relacional como MySQL e PostgreSQL;</p>
						<p >Tenho experiencia na utilização de versionamento de software utilizando as ferramentas, GIT e MERCURIAL, e possuo vários projetos de estudo no site https://github.com/cesarbruschetta;</p>
						<p >Tenho experiencia em gerenciamento e monitoramento de servidores Linux e Aplicação/Serviços, já trabalhei com ambientes de virtualização de servidores, como XEN SERVER e VMWARE ESXI, Ambientes de cloud como Amazon Web Services, DigitalOcean;</p>
						<p >Tenho experiencia em HTML 5 e CSS3, também já trabalhei com layouts responsivos e com o framework FOUNDATION/ZURB;</p>
						<p >Tenho experiencia na utilização e implementação de JAVASCRIPT e biblioteca JQUERY e seus plugins;</p>

						<p>&nbsp;</p>

						<p ><span class="underline"><b>QUALIFICAÇÕES EXTRAS:</b></span></p>
						<p>
							Tenho um pouco de conhecimento nos itens abaixo, onde realizei a aprendizagem sozinhos nos meus tempos livres:</p>
						<ul>
							<li>Conhecimento de Informática e Arte Gráfica - Excel, Word, Access, PowerPoint, Corel Draw, Photoshop, Fireworks, Dreamweaver.</li>
							<li>Configuração de Rede – Cabeamento Estruturado, Servidores (Windows Server 2003 E 2008, Servidores Linux), Switches E Outros.</li>
							<li>Linguagens de Programação:  VBasic,  Ruby, PHP, ASP;</li>
							<li>Conhecimento do Framework: Ruby on Rails;</li>
							<li>Conhecimento nos CMS: WordPress, Joomla, Durpal;</li>
							<li>Criação e Manutenção de Paginas WEB em HTML, PHP, Animação em FLASH.</li>
						</ul>
						<p>&nbsp;</p>


						<p  style="text-align: right; "></p>


			        </div>

					<div class="clearfix"> </div>
				</div>

			</div>

			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="ourteam">
		<div class="container">
			<h3>Quem sou eu?</h3>

			<div class="team">
				  <ul id="flexisel_about">
					<li>
						<div class="team1">
							<a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
								<img src="{{ STATIC_URL }}core/images/eu.jpg" class="img-responsive" alt="" />
								<div class="b-wrapper">
									<h5 class="b-animate b-from-left    b-delay03 "><i class="fff"> </i></h5>
									<p class="b-animate b-from-right    b-delay03 ">

									</p>
								</div>
							</a>
							<h4>Cesar Augusto</h4>
							<p>Desenvolvedor Back-End de Python, Django, Plone.</p>
						</div>
					</li>
				 </ul>
			</div>

		</div>
	</div>
<!-- ourteam -->

{% endblock %}
