{% extends 'core/base/base.html' %}
{% block banner_title %}
	<h1>Contate-me</h1>
{% endblock %}

{% block content %}

<!-- contact-section -->
<!-- contact -->
<div class="contact">


	<div class="contact-grids">
		<div class="contact-left">
			<h2>Quero saber sua opinão!</h2>
			<span></span>
			<p>Quero falar com voce.</p>
			<p>Envie uma mensagem com sua dúvida, critica, elogio ou sugestão, utilizando o formulário ao lado.</p>
			<p>Obrigado pela visita, até mais. ;)</p>

		</div>
		<div class="contact-right">
			{% if response %}
				<div class="alert alert-{{ response.type }}" role="alert">
  					<strong>{{ response.title }}</strong> {{ response.message }}
				</div>
			{% endif %}
			<h2>Mande um email</h2>

			<form method="POST" action="" data-toggle="validator" role="form">
			    {% csrf_token %}
				<div class="form-group">
					<span>Nome</span>
					<input type="text" name="name" required>
					 <div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<span>E-mail</span>
					<input type="email" name="email" required>
					 <div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<span>Assunto</span>
					<input type="text" name="topic" required>
					 <div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<span>Mensagem</span>
					<textarea name="message" required> </textarea>
					<div class="help-block with-errors"></div>
				</div>
				<input type="submit" Value="Submit" />
			</form>
		</div>
		<div class="clearfix"> </div>
	</div>

</div>
<!-- contact -->
<!-- contact-section  -->

{% endblock %}

