{% extends 'core/base/base.html' %}
{% block banner_title %}

	<section class="slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="banner-info">
						<h1>Seja bem-vindo</h1>
						<p>Obrigado por acessar o meu site.. ;-)</p>
					</div>
				</li>
				<li>
					<div class="banner-info">
						<h1>Visite meu portfólio!</h1>
						<p>veja meu útimos trabalhos.</p>
						<p><a href="{% url 'portfolio' %}">clique aqui</a></p>
					</div>
				</li>
				<li>
					<div class="banner-info">
						<h1>Fique atualizado!</h1>
						<p>veja meu blog com as últimas notícias sobre tecnologia e cultura</p>
						<p><a href="{% url 'blog_home' %}">clique aqui</a></p>
					</div>
				</li>
			</ul>
		</div>
	</section>


{% endblock %}

{% block content %}
<div class="home">
<!-- services -->
	<div class="ourservices">
		<div class="container">
			<h2>Meus Serviços</h2>
				<div class="col-md-4">
					<i class="fa fa-cogs gear"> </i>
					<h4>Montagem e Manutenção de Computadores</h4>
					<p>Trabalho com montagem. manutençao ou configuração de sua CPU.</p>
				</div>
				<div class="col-md-4">
					<i class="htm"> </i>
					<h4>Criação de web sites</h4>
					<br>
					<p>Trabalho com criação, manutenção, hospedagem e registro de domínio.</p>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope-o mail"> </i>
					<h4>Criação de E-mail Marketing</h4>
					<br>
					<p>Trabalho com criação e envio de e-mail marketing.</p>
				</div>

				<div class="clearfix"> </div>
		</div>
	</div>

	<!-- services -->
	<div class="case-studies">
		<h2>Notícias em destaque</h2>
		<p class="stud">
			Últimas notícias adicionadas no nosso blog, confira na integra nossa seção de <a href="{% url 'blog_home' %}">blog</a>.
		</p>
		<div class="studies">
			<div class="wmuSlider highlights section" id="section-1">

				{% for news in highlights_list %}
				   <article >
						<div class="data">
							<h4>{{ news.title }}</h4>
							<p>{% autoescape off %}
									{{ news.get_content }}
								{% endautoescape %}</p>
							<a class="read-more" href="{{ news.link }}" target="blank">Leia mais...</a>
						</div>
						{% if news.imagem %}
							<div class="man">
								<img src="{{ news.imagem.url }}" class="img-responsive"
								 alt="{{ news.title }}" title="{{ news.title }}" />
							</div>
						{% else %}
							<div class="man"></div>
						{% endif %}
						<div class="clearfix"></div>
					</article>
				{% endfor %}
				<ul class="wmuSliderPagination">
					{% for news in highlights_list %}
	            		<li><a href="#" class="">{{forloop.counter0}}</a></li>
	            	{% endfor %}
	            </ul>
			</div>
		</div>
	</div>

	<!-- keep in touch -->
	<div class="keep">
		<div class="clearfix"> </div>
	</div>
	<!-- keep in touch -->
</div>
{% endblock %}

{% block scripts %}
	{{block.super}}

<!-- script -->
<script src="{{ STATIC_URL }}core/js/jquery.wmuSlider.js"></script>
<script>
	$('.highlights').wmuSlider();
</script>


{% endblock %}
