{% extends 'core/base/base.html' %}
{% block banner_title %}
	<h1>Portfólio</h1>
{% endblock %}

{% block content %}

<!-- portfolio-section -->
<div class="portfolio">
	<div class="services-wel wel-head text-center">
		<h3><span>Meu</span> Portifólio </h3>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
	</div>
	<div id="portfoliolist">

		{% for item in portfolio_items %}
			<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" style="display: inline-block; opacity: 1;">
				<div class="portfolio-wrapper grid_box">
					 <a href="{{item.url}}" class="swipebox"  title="{{ item.title }}" alt="{{ item.title }}">
					 	<img src="{{ item.image }}" class="img-responsive" title="{{ item.title }}" alt="{{ item.title }}">
					 		<span class="zoom-icon"></span>
				 		</a>
                </div>
			</div>
		{% endfor %}
		<div class="clearfix"></div>
	</div>
    <div class="clearfix"></div>
</div>

<!-- portfolio-section  -->
{% endblock %}


