{% extends 'core/base/base.html' %}
{% block banner_title %}
	<h1>Portfólio</h1>
{% endblock %}
{% block styles %}
	{{block.super}}

	<link href="{{ STATIC_URL }}core/css/portfolio.css" rel="stylesheet" type="text/css" media="all">

{% endblock %}

{% block content %}
<!-- portfolio-section -->
<div class="portfolio">
	<div class="services-wel wel-head text-center">
		<h3><span>Meu</span> Portifólio </h3>
		<p>Veja aqui alguns de meus trabalhos.</p>
	</div>
	<div id="portfoliolist">

		{% for item in portfolio_items %}
			<div class="portfolio card mix_all bounceIn" style="display: inline-block; opacity: 1;">
				<div class="portfolio-wrapper grid_box">
				   <div class="view view-fourth">
	                    <img src="{{ item.image }}" class="img-responsive" title="{{ item.title }}" alt="{{ item.title }}" />
	                    <div class="mask">
	                        <h4>{{ item.title }}</h4>
	                        <p></p>
	                        <a href="{{item.url}}" class="info thickbox play-icon" target="blank">Veja mais</a>
	                    </div>
	            	</div>
                </div>
			</div>
		{% endfor %}

		<div class="clearfix"></div>
	</div>

    <div class="clearfix"></div>
</div>

<!-- portfolio-section  -->
{% endblock %}


