<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
    <head>
        <title>Cesar Augusto Bruschetta | {{ title_page }}</title>

    {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% endblock %}
    {% block styles %}
        {% include 'core/base/styles.html' %}
    {% endblock %}

    </head>
    <body>
        <!-- header -->
        <div class="banner{% if request.get_full_path not in '/,/core/' %}1{% endif %}">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="{{ STATIC_URL }}core/images/logo.png" alt="" /></a>
                </div>
                <div class="head-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li {% if request.get_full_path in '/,/core/' %}class="active"{% endif %}>
                            <a href="{% url 'home' %}">home</a></li>
                        <li {% url 'about' as about %}{% if request.get_full_path == about %}class="active"{% endif %}>
                            <a href="{{ about }}">Sobre Mim</a></li>
                        <li {% url 'services' as services %}{% if request.get_full_path == services %}class="active"{% endif %}>
                            <a href="{{ services }}">Serviços</a>
                        <li {% url 'portfolio' as portfolio %}{% if request.get_full_path == portfolio %}class="active"{% endif %}>
                            <a href="{{ portfolio }}">Portfólio</a></li>
                        <li {% if '/blog' in request.get_full_path %}class="active"{% endif %}>
                            <a href="{% url 'blog_home' %}">Blog</a></li>
                        <li {% url 'contact' as contact %}{% if request.get_full_path == contact %}class="active"{% endif %}>
                            <a href="{{ contact }}">Contate-me</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                {% block banner_title %}
                    <!-- BLOCO DE BANNER OU DE TITULO DA PAGINA -->
                {% endblock %}
            </div>
        </div>
        <!-- header -->
        <div id="content" class="container">
        {% block content %}
            <!-- CONTEUDO PRINCIPAL DO SITE -->
        {% endblock %}

        </div>

        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="col-md-8">
                    <p>© 2015 <a href="{% url 'about_popup' %}" target="popupwindow" onclick="open_aboutPopup()">Cesar Augusto</a> - Todos os direitos reservados</p>
                </div>
                <div class="col-md-4 social">
                    <ul>
                        <li><a href="https://www.facebook.com/cesarbruschetta" target="banck"><i class="fb"> </i></a></li>
                        <li><a href="https://twitter.com/cesarbruschetta" target="banck"><i class="twt"> </i></a></li>
                        <li><a href="https://plus.google.com/u/0/117606194491954815340/" target="banck"><i class="goog"> </i></a></li>
                        <li><a href="https://br.linkedin.com/in/cesarbruschetta" target="banck"><i class="in"> </i></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- footer -->
        {% block scripts %}
            {% include 'core/base/scripts.html' %}
        {% endblock %}
    </body>
</html>