

<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}core/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.flexisel.js"></script>
<script type="text/javascript" defer src="{{ STATIC_URL }}core/js/jquery.flexslider.js"></script>


<!-- Bootstrap Validator -->
<script type="text/javascript" src="{{ STATIC_URL }}core/js/validator.js"></script>

<!-- script-for-nav -->
<script>
    $( "span.menu" ).click(function() {
      $( ".head-nav ul" ).slideToggle(300, function() {
        // Animation complete.
      });
    });
</script>


<!-- FlexSlider -->
<script type="text/javascript">
    // $(function(){
    //   SyntaxHighlighter.all();
    // });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
</script>
<!-- FlexSlider -->
<script type="text/javascript">
    $(window).load(function() {

        $("#flexisel_about").flexisel({
            visibleItems: 1,
            animationSpeed: 1000,
            autoPlay: false,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint:480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint:640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint:768,
                    visibleItems: 3
                }
            }
        });

    });
</script>

<!-- Script for About Popup -->
<script type="text/javascript">
    function open_aboutPopup(){
        window.open("/sobre.html", "popupwindow", "scrollbars=yes,width=590,height=360");
        return true
    }
</script>

<!-- GOOGLE ANALYTICS -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29490617-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>